[
  {
    "id": "eureka-server",
    "backoffFactor": 2.0,
    "backoffSeconds": 30,
    "container": {
      "docker": {
        "forcePullImage": true,
        "image": "0x06065a/jpoint2017-eureka-server:1",
        "network": "BRIDGE",
        "parameters": [
          {
            "key": "memory",
            "value": "500m"
          }
        ],
        "portMappings": [
          {
            "containerPort": 8761,
            "hostPort": 31500
          }
        ],
        "privileged": false
      },
      "type": "DOCKER"
    },
    "env": {
      "EUREKA_INSTANCE_HOSTNAME": "{{ ansible_eth1.ipv4.address }}",
      "EUREKA_CLIENT_SERVICEURL_DEFAULTZONE": "http://{{ ansible_eth1.ipv4.address }}:31500/eureka"
    },
    "cpus": 0.1,
    "healthChecks": [
      {
        "gracePeriodSeconds": 300,
        "ignoreHttp1xx": false,
        "intervalSeconds": 5,
        "maxConsecutiveFailures": 3,
        "path": "/health",
        "portIndex": 0,
        "protocol": "HTTP",
        "timeoutSeconds": 10
      }
    ],
    "instances": 1,
    "maxLaunchDelaySeconds": 86400,
    "mem": 512.0,
    "upgradeStrategy": {
      "maximumOverCapacity": 0,
      "minimumHealthCapacity": 0
    }
  }
]
