[
  {
    "id": "holywars-api",
    "backoffFactor": 2.0,
    "backoffSeconds": 30,
    "container": {
      "docker": {
        "forcePullImage": true,
        "image": "0x06065a/jpoint2017-holywars-api:8",
        "network": "BRIDGE",
        "parameters": [
          {
            "key": "memory",
            "value": "600m"
          }
        ],
        "portMappings": [
          {
            "containerPort": 8080,
            "hostPort": 31600
          }
        ],
        "privileged": false
      },
      "type": "DOCKER"
    },
    "cpus": 0.1,
    "healthChecks": [
      {
        "gracePeriodSeconds": 300,
        "ignoreHttp1xx": false,
        "intervalSeconds": 5,
        "maxConsecutiveFailures": 3,
        "path": "/health",
        "portIndex": 0,
        "protocol": "HTTP",
        "timeoutSeconds": 10
      }
    ],
    "env": {
      "spring.application.name": "holywars-api",
      "eureka.instance.appname": "holywars-api",

      "eureka.client.serviceUrl.defaultZone": "http://{{ ansible_eth1.ipv4.address }}:31500/eureka",
      "eureka.client.healthcheck.enabled": "true",

      "eureka.instance.ipAddress": "{{ ansible_eth1.ipv4.address }}",
      "eureka.instance.preferIpAddress": "true",
      "eureka.instance.leaseRenewalIntervalInSeconds": "5",

      "eureka.client.registryFetchIntervalSeconds": "1",

      "hystrix.threadpool.default.maxQueueSize": "1000",
      "hystrix.threadpool.default.queueSizeRejectionThreshold": "1000",

      "ribbon.ServerListRefreshInterval": "1000",
      "ribbon.ReadTimeout": "60000",
      "ribbon.ConnectTimeout": "60000",
      "ribbon.MaxAutoRetries": "12",
      "ribbon.MaxAutoRetriesNextServer": "12",
      "ribbon.OkToRetryOnAllOperations": "true",
      "hystrix.command.default.execution.isolation.thread.timeoutInMilliseconds": "60000",

      "JAVA_OPTS": "-Xmx500m",
      "management.security.enabled": "false"
    },
    "instances": 1,
    "maxLaunchDelaySeconds": 86400,
    "mem": 600,
    "upgradeStrategy": {
      "maximumOverCapacity": 0,
      "minimumHealthCapacity": 0
    }
  }
]
